ACC_CSV_toXML/src/main/resources/xsd/Stadium_XX.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StadiumMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FileName">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SenderId"/>
              <xs:element type="xs:string" name="TicketType"/>
              <xs:element type="xs:string" name="TicketPrice"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>